
/*flex*/
.wrap{
    display: flex;
    flex-direction: row;
    border: 4px double black;
    height: 100vh;
}

.menu{
    flex: 1;
    width: 250px;
    background: #4b0082;
    color: white;
    height: 100vh;
    
}

.content{
    width: calc(100% - 260px);
    height: 100vh;
    color: black;
    padding: 10px 0px 0px 10px;
}

/*float*//*
.wrap{
    border: 4px double black;
    height: 100vh;
}

.menu{
    float: left;
    width: 250px;
    background: #4b0082;
    color: white;
    height: 100vh;
}

.content{
    width: calc(100% - 260px);
    height: 100vh;
    color: black;
    padding: 10px 0px 0px 10px;
    margin-left: 250px;
}*/

/*inline-block*//*
.wrap{
    border: 4px double black;
    height: 100vh;
}

.menu{
    display: inline-block;
    background: #4b0082;
    color: white;
    height: 100%;
    width: 250px;
}

.content{
    display: inline-block;
    width: calc(100% - 265px);
    height: 100%;
    color: black;
    padding: 10px 0px 0px 10px;
    vertical-align: top;
}/*