.grid{
    display: grid;
    grid-template-rows: 50px calc(100vh - 100px) 50px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1vw;
}

.elem{
    font-size: 1vw;
    padding: 0.5em;
    border: 5px solid red;
    text-align: center;
}

.shapka{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}

.left{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.center{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.right{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

.footer{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}